name: Eklentiyi Derle

on:
  workflow_dispatch:
  push:
    paths:
      - 'plugin/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: JDK 17 Kur
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Android SDK Kur
        uses: android-actions/setup-android@v2

      - name: Gradle İzni Ver
        run: chmod +x plugin/gradlew || true

      - name: Eklentiyi Derle
        working-directory: ./plugin
        run: gradle :app:makePluginsJson --no-daemon

      - name: Release Hazırla ve Yükle
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: builds
          FOLDER: plugin/app/build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Eklenti Güncellendi"
