name: CloudStream Eklentisi

on:
  workflow_dispatch:
  push:
    paths:
      - 'CSPlugins/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: JDK 17 Kur
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Android SDK Kur
        uses: android-actions/setup-android@v2

      # Burada Gradle 7.6'yı manuel olarak çekip kuruyoruz, en garantisi bu.
      - name: Gradle 7.6 Hazırla
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.6

      - name: Eklentiyi Derle
        working-directory: ./CSPlugins
        run: gradle :app:makePluginsJson --no-daemon --stacktrace

      - name: Release Hazırla ve Yükle
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: builds
          FOLDER: CSPlugins/app/build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Eklenti Güncellendi"
