name: CloudStream Eklentisi

on:
  workflow_dispatch:
  push:
    paths:
      - 'Cloudstream/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: JDK 11 Ayarla
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Android SDK Ayarla
        uses: android-actions/setup-android@v2

      - name: Gradle 7.2 Hazırla
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.2

      - name: Eklentiyi Derle
        working-directory: ./Cloudstream
        run: gradle :app:makePluginsJson --no-daemon

      - name: Release Hazırla ve Yükle
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: builds
          FOLDER: Cloudstream/app/build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Eklenti Güncellendi"
