name: Eklentiyi Derle

on:
  workflow_dispatch: # Manuel tetikleme için
  push:
    paths:
      - 'app/**'       # Sadece eklenti dosyaları değişince çalışsın
      - 'build.gradle.kts'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v3

      - name: Java Kurulumu
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle İzni Ver
        run: chmod +x gradlew || true

      - name: Eklentiyi Derle
        run: ./gradlew :app:makePluginsJson || gradle :app:makePluginsJson

      - name: Release Oluştur (Builds Branchine At)
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: builds # Eklenti dosyası buraya atılacak
          FOLDER: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Eklenti Güncellendi"
